body {
    background-image: url("picture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15%;
}

img {
    width: auto;
    height: auto;
    background-size:cover
}

.form-container {
  /* border: 1px solid #ffffff; */
  height: 50vh;
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}

.logo {
  /* border: 1px solid #ffffff; */
  height: 50%;
  width: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.txt-container {
  /* border: 1px solid #ffffff; */
  height: 100%;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2px; */
}

.form-fill {
  /* border: 1px solid #ffffff; */
  height: 109%;
  width: 100%;
}

.user-div {
  /* border: 1px solid #ffffff; */
  gap: 0.5rem;
  width: 100%;
  height: 40%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.pass-div {
  /* border: 1px solid #ffffff; */
  gap: 0.5rem;
  height: 40%;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color:rgba(20, 171, 55, 0.979);
  color: #ffffff;
  border-radius: 7px;
  width: 100%;
  height: 112%;
  border: none;
  font-size: small;
}

.button-div {
  background-color:rgba(20, 184, 20, 0.979);
  color: #ffffff;
  border-radius: 7px;
  width: 71%;
  height: 21%;
}

input {
  border: 1px solid #787474;
  border-radius: 4.5px;
  width: 70%;
  display: flex;
  /* opacity: 0.1; */
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff; 
  height: 51%;
  padding-left: 10px;
}

span {
  border-radius: 4.5px;
  border-end-start-radius: inherit;
  border-top-left-radius: inherit;
}

